---
import Layout from "../../layouts/Layout.astro";
import { MainLayout } from "../../layouts/MainLayout";

const currentPath = Astro.url.pathname;
---

<Layout title="Ventas - ERP">
	<MainLayout currentPath={currentPath} client:load>
		<div class="flex items-center justify-center h-full text-gray-500">
			<h2 class="text-xl font-medium">Módulo de Ventas (Próximamente)</h2>
		</div>
	</MainLayout>
</Layout>
