---
import { MainLayout } from '../../layouts/MainLayout';
import '../../index.css';
import { DepotDashboard } from '../../components/deposito/DepotDashboard';

const currentPath = Astro.url.pathname;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Depósito - Dashboard</title>
	</head>
	<body>
        <MainLayout currentPath={currentPath} client:load>
            <DepotDashboard client:load />
        </MainLayout>
	</body>
</html>

