---
import Layout from "../layouts/Layout.astro";
import { MainLayout } from "../layouts/MainLayout";
import { IntegrationsView } from "../components/integraciones/Integrations";

const currentPath = Astro.url.pathname;
---

<Layout title="Integraciones - ERP">
	<MainLayout currentPath={currentPath} client:load>
		<div class="h-full flex flex-col">
			<IntegrationsView client:load />
		</div>
	</MainLayout>
</Layout>
