---
import Layout from "../../layouts/Layout.astro";
import { MainLayout } from "../../layouts/MainLayout";

const currentPath = Astro.url.pathname;
---

<Layout title="Métricas - ERP">
    <MainLayout currentPath={currentPath} client:load>
        <div class="p-8 text-gray-500">Próximamente...</div>
    </MainLayout>
</Layout>
