---
import { MainLayout } from "../../layouts/MainLayout";
import { ValuationView } from "../../components/inventario/Valuation";
import { INITIAL_PRODUCTS } from "../../data/mocks";
import "../../index.css";

const currentPath = Astro.url.pathname;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Valorización - ERP</title>
	</head>
	<body>
		<MainLayout currentPath={currentPath} client:load>
			<ValuationView products={INITIAL_PRODUCTS} client:load />
		</MainLayout>
	</body>
</html>
